*{
margin: 0px;
padding: 0px;
}
.container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: #f8f9fa; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1))
}

.out-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef; 
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; 
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .navbar a:hover {
    color: #ddd;
  }